<section class="blog-section spad mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-item set-bg" data-setbg="/img/hero.jpg">
                            <div class="bi-tag bg-gradient">Foody</div>
                            <div class="bi-text">
                                <h5><a href="./blog-details.html">Google's AI Assistant Aims to Transcend the Smart Speaker</a></h5>
                                <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>
</div>
</section>
