<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="">
                <img src="~/img/events-logo.jpg" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li>
                        <a href="~/Event/EventsByUser">Your Events</a>
                    </li>
                    <li><a href="~/Event/CreateEvent">Create Event</a></li>
                </ul>
            </nav>
            <a href="~/Account/Login" class="primary-btn top-btn">Sign In</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>