<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="~/img/h-about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>About</h2>
                    <p>
                        When I first got into my advertising business, I was looking for the magical
                        combination that would put my business into the top by helping me arranging my events,catapult me to
                        the forefront of the minds or individuals looking to buy my product, and generally make me
                        rich beyond my wildest dreams! After succeeding in the business for this long, I’m able to
                        look back on my old self with this kind of thinking and shake my head.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_EventCard")
</section>
